<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:label="SDK Home"
            android:name=".EdfaPgHomeActivity_"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:label="Edfa Card Pay"
            android:name=".views.edfacardpay.EdfaCardPayActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:label="Bank Verification"
            android:name=".views.edfacardpay.EdfaPgSaleWebRedirectActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>