<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".EdfaPgHomeActivity_"
            android:exported="true"
            android:label="SDK Home">
        </activity>


        <activity
            android:name=".views.edfacardpay.EdfaCardPayActivity"
            android:label="Edfa Card Pay"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EdfaPgAndroidSDK" />


        <activity
            android:name=".views.edfacardpay.EdfaPgSaleWebRedirectActivity"
            android:label="Bank Verification"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EdfaPgAndroidSDK" />


    </application>

</manifest>